<!-- Intro Header -->
<header class="masthead">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <!-- <h1 class="brand-heading">Angular Blog Project</h1> -->
          <h2>Angular Features Blog</h2>

          <p class="intro-text">A useful Angular framework blog post repository focussing on new MEAN stack tech. 
            <br><small>Created by Owner</small>
          </p>
          <!-- <a href="#about" class="btn btn-circle js-scroll-trigger"> -->
          <a href="#about" pageScroll [pageScrollEasing]="myEasing" class="btn btn-circle">
            <i class="fa fa-angle-double-down animated"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>